.app__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__info_img {
    margin-right: 30px;
}
.app__info-details-number {
    font-size: 25px;
    font-weight: bold;
    color: var(--black-color);
    margin-bottom: 7.5px;
}
.app__info-details-name {
    font-size: 20px;
    color: var(--gray-color);
}