/* Importing the font style */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Starting Variables */
:root {
    --main-color: #F53838;
    --white-color: #fff;
    --black-color: #0B132A;
    --gray-color: #4F5665;
}
/* Ending Variables */

/* Starting the global rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Rubik", sans-serif; 
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}
::selection {
    color: var(--white-color);
    background-color: var(--main-color);
}
.up-and-down {
    display: inline-block;
    animation: up-and-down 4s ease-in-out infinite;
}
@-webkit-keyframes up-and-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }   
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes up-and-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }   
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/* Ending the global rules */